@model MusicCollectionManager.Models.RecordingArtist

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>RecordingArtist</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MusicianID" class="control-label">MusicianID (optional)</label>
                <input asp-for="MusicianID" class="form-control" />
                <span asp-validation-for="MusicianID" class="text-danger"></span>
                <a href="../Musicians" target="_blank">Go to Musicians Table</a>
            </div>
            <div class="form-group">
                <label asp-for="GroupID" class="control-label">Group ID (optional)</label>
                <input asp-for="GroupID" class="form-control" />
                <span asp-validation-for="GroupID" class="text-danger"></span>
                <a href="../Groups" target="_blank">Go to Groups Table</a>
            </div>
            <div class="form-group">
                <label asp-for="StageName" class="control-label">Stage Name (optional)</label>
                <input asp-for="StageName" class="form-control" />
                <span asp-validation-for="StageName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BandID" class="control-label">Band ID (optional)</label>
                <input asp-for="BandID" class="form-control" />
                <span asp-validation-for="BandID" class="text-danger"></span>
                <a href="../Bands" target="_blank">Go to Bands Table</a>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
